In [1]:
# ! pip install python-dotenv
# ! conda install mysqlclient -y

In [2]:
from os import environ,chdir
from dotenv import load_dotenv, find_dotenv

Cargar variables de entorno y posicionarve en el directorio raiz

In [3]:
!ls

Agg.ipynb                             E3.-Examen pandas.ipynb
Demo.ipynb                            Practica_1_clase_3.ipynb
E0.-Ejercios con INNER JIONS.ipynb    Practicas de clase.ipynb
E1.-Working With Markdown Cells.ipynb Practicas de clase_2.ipynb
E2.-Rutas en Jupyter.ipynb            Reto_semana_1.ipynb

In [4]:
chdir("../..")
load_dotenv('conf/.local')

True

importar la clase `ControllerSQL` del paquetes `controllers` del modulo `ControllerSQL``

In [6]:
# importar clase controlador para MySQL
from utils.controllers.ControllerSQL import ControllerSQL
from pandas import read_csv
from datetime import datetime

In [7]:
# Crear una instancia de clase
controller_mysql = ControllerSQL()
# llamar al método para obtener la conección
controller_mysql.get_conection()

In [8]:
# ver el url de la concción
controller_mysql.url_string

mysql+mysqldb://sql9641466:***@sql9.freesqldatabase.com:3306/sql9641466

# Querys comunes

### Obtener todos los productos de una marca específica

In [ ]:
query = f"""
            SELECT * FROM Marcas
        """

In [ ]:
df_ = controller_mysql.execute_query(query)

In [ ]:
# Marca 
num_marca = 3

In [ ]:
query = f"""
            SELECT * FROM Productos WHERE ID_Marca = {num_marca}
        """

In [ ]:
query

In [ ]:
df_ = controller_mysql.execute_query(query)

In [ ]:
df_

### Obtener los productos que tienen un precio de lista mayor que su precio de venta

In [ ]:
query = f"""
            SELECT * FROM Productos WHERE Precio_de_lista > Precio_de_venta;
        """

In [ ]:
df_ = controller_mysql.execute_query(query)

In [ ]:
df_

### Obtener los productos ordenados por precio de venta de forma descendente

In [ ]:

query = f"""
            SELECT * FROM Productos ORDER BY Precio_de_venta DESC;
        """

In [ ]:
df_ = controller_mysql.execute_query(query)

In [ ]:
df_

### Obtener el promedio de RAM y ROM de todos los productos

In [ ]:
query = f"""
            SELECT AVG(RAM_GB) AS Promedio_RAM, AVG(ROM_GB) AS Promedio_ROM FROM Productos;
        """

In [ ]:
df_ = controller_mysql.execute_query(query)

In [ ]:
df_

### Obtener los productos con una calificación mayor a 4.5

In [ ]:
query = f"""
            SELECT * FROM Productos WHERE Estrellas > 4.5;
        """

In [ ]:
df_ = controller_mysql.execute_query(query)

### Unir las dos tablas

In [ ]:
query = f"""
        SELECT *
        FROM Marcas
        JOIN Productos ON Marcas.ID_Marca = Productos.ID_Marca;
        """

In [ ]:
df_ = controller_mysql.execute_query(query)

In [ ]:
df_

### Agrupar

In [ ]:
controller_mysql.get_conection()

In [ ]:
query = f"""
        SELECT ID_Marca, COUNT(*) AS Cantidad_Productos
        FROM Productos
        GROUP BY ID_Marca;
        """

In [ ]:
df_ = controller_mysql.execute_query(query)

In [ ]:
df_

### Obtener la cantidad total de productos de cada marca

In [ ]:
query = f"""
            SELECT Marcas.Nombre_Marca, COUNT(Productos.ID) AS Cantidad_Productos 
            FROM Marcas 
            INNER JOIN Productos ON Marcas.ID_Marca = Productos.ID_Marca 
            GROUP BY Marcas.ID_Marca, Marcas.Nombre_Marca;
        """

In [ ]:
df_ = controller_mysql.execute_query(query)

In [ ]:
df_

### Obtener la marca con la mayor cantidad de productos

In [ ]:
query = f"""
        SELECT Marcas.Nombre_Marca, COUNT(Productos.ID) AS Cantidad_Productos 
        FROM Marcas 
        INNER JOIN Productos ON Marcas.ID_Marca = Productos.ID_Marca 
        GROUP BY Marcas.ID_Marca, Marcas.Nombre_Marca
        ORDER BY Cantidad_Productos DESC
        LIMIT 10;
        """

In [ ]:
df_ = controller_mysql.execute_query(query)

In [ ]:
df_

### Queremos encontrar las marcas que tienen un promedio de calificaciones superior a 4.5 en los productos.

In [ ]:
query = f"""
        SELECT m.Nombre_Marca, AVG(p.Calificaciones) AS Promedio_Calificaciones
        FROM Marcas m
        INNER JOIN Productos p ON m.ID_Marca = p.ID_Marca
        GROUP BY m.Nombre_Marca
        HAVING Promedio_Calificaciones > 12000;
        """

In [ ]:
df_ = controller_mysql.execute_query(query)

In [ ]:
df_

In [ ]:
controller_mysql.get_conection()

## JOIN RIGHT:
Un JOIN RIGHT o RIGHT OUTER JOIN devuelve todas las filas de la tabla derecha ("Productos") y las filas coincidentes de la tabla izquierda ("Marcas"). Si no hay coincidencias en la tabla izquierda, se rellenarán con valores NULL.

In [ ]:
query = f"""
        SELECT *
        FROM Marcas
        RIGHT JOIN Productos ON Marcas.ID_Marca = Productos.ID_Marca;
        """

In [ ]:
df_ = controller_mysql.execute_query(query)

In [ ]:
df_

## JOIN LEFT:
Un JOIN LEFT o LEFT OUTER JOIN devuelve todas las filas de la tabla izquierda ("Marcas") y las filas coincidentes de la tabla derecha ("Productos"). Si no hay coincidencias en la tabla derecha, se rellenarán con valores NULL.

In [ ]:

query = f"""
SELECT Marcas.ID_Marca, Marcas.Nombre_Marca, Productos.Modelo, Productos.RAM_GB, Productos.ROM_GB
FROM Marcas
LEFT JOIN Productos ON Marcas.ID_Marca = Productos.ID_Marca;
"""

In [ ]:
df_ = controller_mysql.execute_query(query)

In [ ]:
df_

# Joins y Querys con Pandas

In [ ]:
df_movie=read_csv('https://raw.githubusercontent.com/cva1977/archivospandas/master/movies.txt',header=0,sep='\t')
df_actor=read_csv('https://raw.githubusercontent.com/cva1977/archivospandas/master/actor.txt',header=0,sep='\t')
df_gender=read_csv('https://raw.githubusercontent.com/cva1977/archivospandas/master/gender.txt',header=0,sep='\t')
df_ma=read_csv('https://raw.githubusercontent.com/cva1977/archivospandas/master/actor_movies.txt',header=0,sep='\t')

In [ ]:
df_movie.columns

## Vamos a homologar las sentencias de SQL a la biblioteca de pandas, partiremos con consultas básicas hasta consultas más complejas. Nuestra primera consulta será la siguiente:

1. Seleccionaremos los 3 primeros registros de la tabla movie, que en SQL sera como sigue.

In [ ]:
quey = """ 
        select top 3 * from movie 
        """

In [ ]:
df_movie.head(3)

2. Seleccionaremos las columnas id , titulo y duracion solamente de los 5 primeros registros de la tabla movie, ordenados en forma descendente por duracion.

In [ ]:
query = """
        select top 5 mov_id, mov_title,mov_time
        from movie
        order by mov_time desc
        """

In [ ]:
df_movie[['mov_id', 'mov_title','mov_time']].head(5).sort_values("mov_time",ascending = False)

3. Mostrar todos los paises de origen de las distintas peliculas de la tabla movie

In [ ]:
query = """
        SELECT DISCTIC mov_rel_country 
        FROM movie
        """

In [ ]:
df_movie.mov_rel_country.unique()

In [ ]:
df_gb = df_movie.groupby("mov_rel_country").count()

4. Seleccionaremos los 2 primeros registros de la tabla movie donde origen de la pelicula sea igual a USA

In [ ]:
query = """
        select top 2 * from movies where mov_rel_country='USA'
        """

In [ ]:
df_movie[df_movie.mov_rel_country == 'USA'].head(2)

5. Seleccionaremos todas las peliculas donde el año sea mayor a 1990 y duración mayor a 100 minutos

In [ ]:
query = """
        select * from movies 
        where mov_year>1990 and mov_time>100
        """

In [ ]:
df_movie[(df_movie.mov_year>1990) & (df_movie.mov_time>100)]

In [ ]:
df_movie

6. Seleccionaremos titulo y año de la película de la tabla movies donde el origen sea USA o SW

In [ ]:
query = """
        select mov_title,mov_year 
        from movies 
        where mov_rel_country='SW' or mov_rel_country='USA'
        """

7. Seleccionaremos titulo y año de la película de la tabla movies donde el origen NO sea USA o SW

In [ ]:
query = """
        select mov_title,mov_year 
        from movies 
        where mov_rel_country is not ('SW','USA')
        """

#~

In [ ]:
8. Cuente todas las películas por país de origen (GroupBy y Agg)

In [ ]:
query = """
        select mov_rel_country,count(*)
        from movies
        group by mov_rel_country
        """

In [ ]:
9. Contaremos todas las peliculas, maxima duración y ademas cuanto es la duración en promedio de las peliculas por paises.

In [ ]:
query = """
        select mov_rel_country, count(mov_id), max(mov_time), avg(mov_time)
        from movies
        group by mov_rel_country
        """

11. Seleccione las películas de genero Drama

In [ ]:
query = """
        select *
        from movies t1 inner join gender t2 on t1.genero=t2.gen_id
        where t1.gen_title='Drama'
        """

# Diferentes tipos de joins utilizando DataFrames

In [ ]:
import pandas as pd

# Crear DataFrame para Productos
productos_data = {
    'ID_Marca': [1, 2, 3, 4, 5],
    'Modelo': ['Producto A', 'Producto B', 'Producto C', 'Producto D', 'Producto E'],
    'RAM_GB': [8, 16, 8, 32, 16],
    'ROM_GB': [128, 256, 128, 512, 256],
    'Calificaciones': [4.5, 3.8, 4.2, 4.9, 3.7]
}

productos_df = pd.DataFrame(productos_data)

# Crear DataFrame para Modelo
modelo_data = {
    'ID_Marca': [2, 3, 4],
    'Nombre_Marca': ['Marca Y', 'Marca Z', 'Marca W']
}

modelo_df = pd.DataFrame(modelo_data)

In [ ]:
print("modelo_df")
display(modelo_df)

In [ ]:
print("modelo_df")
display(modelo_df)

In [ ]:
# Realizar diferentes tipos de joins
# Inner Join
inner_join_df = pd.merge(productos_df, modelo_df, on='ID_Marca', how='inner')

# Left Outer Join
left_join_df = pd.merge(productos_df, modelo_df, on='ID_Marca', how='left')

# Right Outer Join
right_join_df = pd.merge(productos_df, modelo_df, on='ID_Marca', how='right')

# Full Outer Join
full_outer_join_df = pd.merge(productos_df, modelo_df, on='ID_Marca', how='outer')

In [ ]:
# Mostrar los resultados
print("Inner Join:")
display(inner_join_df)

print("\nLeft Outer Join:")
display(left_join_df)

print("\nRight Outer Join:")
display(right_join_df)

print("\nFull Outer Join:")
display(full_outer_join_df)

### Funciones de Agregación en SQL:

- `COUNT`: Cuenta el número de registros.
- `SUM`: Calcula la suma de los valores en una columna.
- `AVG`: Calcula el promedio de los valores en una columna.
- `MIN`: Encuentra el valor mínimo en una columna.
- `MAX`: Encuentra el valor máximo en una columna.
- `GROUP_CONCAT`: Concatena valores de una columna en una sola cadena (MySQL).
- `GROUP BY`: Agrupa los resultados por una o más columnas.
- `HAVING`: Filtra los resultados después de aplicar GROUP BY basado en condiciones.

### Funciones de Agregación en pandas:

- `count()`: Cuenta el número de registros.
- `sum()`: Calcula la suma de los valores en una columna.
- `mean()`: Calcula el promedio de los valores en una columna.
- `min()`: Encuentra el valor mínimo en una columna.
- `max()`: Encuentra el valor máximo en una columna.
- `median()`: Calcula la mediana de los valores en una columna.
- `std()`: Calcula la desviación estándar de los valores en una columna.
- `var()`: Calcula la varianza de los valores en una columna.
- `groupby()`: Agrupa los datos por una o más columnas.
- `agg()`: Aplica funciones de agregación personalizadas a columnas específicas después de un groupby.

## Práctica 1

### Realiza las siguientes peticiones 

Intrucciones : Leer los achivos `Marcas.csv` y `Modelo.csv` a pandas y obtener los siguientes datos (1) utilizando filtros pandas y  (2) con querys SQL y consultas a las DB MySQL

1. Obtener todos los productos de la marca Realme:
    - Selecciona todos los productos de la marca Realme de la tabla de productos.

2. Encontrar los productos con una calificación superior a 4.5:
    - Encuentra los productos de la tabla de productos que tienen una calificación superior a 4.5.

3. Calcular la cantidad total de productos de cada marca:
    - Calcula cuántos productos tiene cada marca y muestra los resultados junto con los nombres de las marcas.

4. Calcular el promedio de RAM y ROM de todos los productos:
    - Calcula el promedio de la memoria RAM y ROM de todos los productos en la tabla.

5. Mostrar los productos ordenados por precio de venta descendente:
    - Muestra todos los productos ordenados de manera descendente según su precio de venta.

6. Identificar la marca con la mayor cantidad de productos:
    - Encuentra la marca que tiene la mayor cantidad de productos en la tabla y muestra su nombre junto con la cantidad.

7. Obtener productos que tienen un precio de lista mayor que su precio de venta:
    - Encuentra los productos cuyo precio de lista es mayor que su precio de venta en la tabla.

8. Encontrar los productos con más de 6 GB de RAM:
    - Encuentra los productos en la tabla que tienen más de 6 GB de memoria RAM.

9. Calcular la suma total de resenas de todos los productos:
    - Calcula la suma total de resenas (reseñas) de todos los productos en la tabla.

10. Mostrar los productos con una calificación entre 4.0 y 4.5:
    - Muestra los productos que tienen una calificación entre 4.0 y 4.5 en la tabla de productos.

# Datetime en pandas

In [ ]:
from pandas import to_datetime

# Supongamos que tienes un DataFrame llamado df
# y quieres convertir la columna "mov_dt_rel" en formato datetime

df_movie['mov_dt_rel'] = to_datetime(df_movie['mov_dt_rel'])

# Debe salir un error porque existen valores faltantes

In [ ]:
# Un vistazo a la columna mov_dt_rel
df_movie['mov_dt_rel']

Mostrar el número de datos faltantes

In [ ]:

((df_movie.isnull().sum() / len(df_movie))*100).sort_values(ascending = False)

Obtener el valor de la posición 6 de la columna mov_dt_rel

In [ ]:
df_movie['mov_dt_rel'][6]

Remplazar el valor de la celda '            ' por  None

In [ ]:
df_movie['mov_dt_rel'] = df_movie['mov_dt_rel'].replace('            ', None)

Ver nuevamente el contenido

In [ ]:
df_movie['mov_dt_rel']

Eliminar los valores Nulos

In [ ]:
df_movie.dropna()

transformar la variable mov_dt_rel a tipo datetime

In [ ]:
df_movie['mov_dt_rel'] = to_datetime(df_movie['mov_dt_rel'])

mostrar la columna mov_dt_rel

In [ ]:
df_movie['mov_dt_rel']

remover los datos nulos

In [ ]:
df_movie.dropna(inplace = True)

In [ ]:
df_movie['mov_dt_rel']

El método `pd.to_datetime()` convierte automáticamente el formato de la columna en datetime. Puedes especificar varios parámetros adicionales, como el formato de fecha original, si es necesario.

Si tu columna ya está en un formato de texto que pandas puede reconocer como fecha (como `'yyyy-mm-dd'` o `'dd-mm-yyyy'`), `pd.to_datetime()` debería funcionar sin problemas. Si tienes un formato más personalizado, puedes proporcionar el parámetro format para indicar cómo se presenta la fecha en el texto. Por ejemplo:

In [ ]:
# asignar dato específico
formato = '%Y-%m-%d'

In [ ]:
to_datetime(df_movie['mov_dt_rel'], format=formato)

# Transformar y estandarizar fechas

In [ ]:
fecha = '1995-09-08'

In [ ]:
# estandarizar fecha 
from datetime import datetime

'%m/%d/%Y %H:%M:%S'

'%Y-%m-%d %H:%M:%S'

def datetime_convert(date_str, output_format = '%Y-%m-%d %H:%M:%S'):
    """
    Convierte una cadena de fecha y hora en un formato específico en un formato diferente.

    Esta función toma una cadena de fecha y hora en uno de dos formatos admitidos:
    - 'YYYY-MM-DDTHH:MM:SS'
    - 'MM/DD/YYYY HH:MM:SS'

    Luego, convierte la cadena en un objeto datetime y lo formatea en el formato 'YYYY-MM-DD HH:MM:SS'.

    Parámetros:
    date_str (str): La cadena de fecha y hora en uno de los dos formatos admitidos.

    Devuelve:
    str: La cadena de fecha y hora convertida y formateada en 'YYYY-MM-DD HH:MM:SS'.

    Ejemplos:
    convert_datetime('2023-08-24T15:30:00') devuelve '2023-08-24 15:30:00'
    convert_datetime('08/24/2023 15:30:00') devuelve '2023-08-24 15:30:00'
    """
    format= '%Y-%m-%d %H:%M:%S'
    format_alternativo = '%m/%d/%Y %H:%M:%S'

    
    
    try:
        # Intenta convertir la cadena en el primer formato
        d = datetime.strptime(date_str, format)
        return d.strftime(output_format)
    except:
        # Si no funciona, intenta convertir la cadena en el segundo formato
        d = datetime.strptime(date_str, format_alternativo)
        return d.strftime(output_format)

In [ ]:
df_movie['datime'] = df_modelos.datime.apply(lambda x: x.strftime(''))

### Uso de la función convert_datetime

In [ ]:
# Formto valido format= '%Y-%m-%d %H:%M:%S'
datetime_convert('2023-02-1 12:00:00')

In [ ]:
# probemos con un formato no validado 
# debe salir un error porque el formato no esta validado dentro de la función 
datetime_convert('31/12/2023 12:00:00')

# Práctica 2
- importar `datetime_convert` del modulo `utils` 
- Aplicarlo a las fechas `'31/12/2023 12:00:00'` , `'31 12 2023H12:00:00'` y `'31-12-2023 12:00:00'`
- aplicarlo a la columna `mov_dt_rel` de `DataFrame` `df_movie`

## Segmentar y Agrupar Fechas

In [ ]:
df_movie.dtypes

In [ ]:
df_movie['periodo'] = df_movie.mov_dt_rel.apply(lambda x: x.strftime('%Y-%m'))
df_movie['year']=df_movie['mov_dt_rel'].dt.year
df_movie['month']=df_movie['mov_dt_rel'].dt.month
df_movie['day']=df_movie['mov_dt_rel'].dt.day

In [ ]:
df_movie['periodo']

## Error común (Agregarlo a la base de datos de errores)

El mensaje de advertencia "A value is trying to be set on a copy of a slice from a DataFrame" suele aparecer cuando estás tratando de asignar valores a una porción (slice) del DataFrame original sin usar la notación .loc, lo que puede llevar a comportamientos inesperados o confusión para Pandas.

Usar .loc al realizar asignaciones con apply ayuda a asegurar que estás operando directamente en el DataFrame original en lugar de en una vista o copia, evitando así el mensaje de advertencia y cualquier posible problema de inconsistencia en los datos.

Puedes utilizar apply junto con una función lambda para realizar transformaciones en una columna y asignar el resultado a una nueva columna en un DataFrame. Sin embargo, al hacerlo, también debes tener en cuenta la recomendación de utilizar .loc para evitar posibles problemas con copias y rebanadas.

Aquí tienes un ejemplo de cómo usar apply con una función lambda y .loc para asignar el resultado a una nueva columna:


1. Utilizar .loc para la asignación:
En lugar de asignar valores directamente a la columna usando df['nueva_columna'] = ..., utiliza .loc para asegurarte de que estás asignando valores a la ubicación correcta en el DataFrame original.
```python

df.loc[:, 'nueva_columna'] = df['columna_existente'].apply(funcion)
```
2. Crear una copia explícita del DataFrame:
Si prefieres trabajar con una copia independiente del DataFrame, puedes hacer una copia explícita antes de realizar la operación con apply.

```python
df_copy = df.copy()
df_copy['nueva_columna'] = df_copy['columna_existente'].apply(funcion)
```

3. Usar el método assign:
Puedes utilizar el método assign para agregar una nueva columna con los resultados de apply:

```python

df = df.assign(nueva_columna=df['columna_existente'].apply(funcion))

```

Recuerda reemplazar 'columna_existente' con el nombre de la columna de la cual estás calculando los valores y funcion con la función que estás aplicando a esa columna.

Puedes utilizar apply junto con una función lambda para realizar transformaciones en una columna y asignar el resultado a una nueva columna en un DataFrame

```python
# Una función lambda y una apply para generar una nueva columna usando .loc
df.loc[:, 'nueva_columna'] = df['columna_existente'].apply(lambda x: x * 2)
```

Podemos utilizar `.loc`

In [ ]:
df_movie.loc[:, 'periodo'] = df_movie.mov_dt_rel.apply(lambda x: x.strftime('%Y-%m'))
df_movie.loc[:, 'year'] = df_movie['mov_dt_rel'].dt.year
df_movie.loc[:, 'month'] = df_movie['mov_dt_rel'].dt.month
df_movie.loc[:, 'day'] = df_movie['mov_dt_rel'].dt.day

In [ ]:
df_movie.dtypes

In [ ]:
df_movie[df_movie['mov_dt_rel'].dt.month== 8]

## Groupby

In [ ]:
df_final = df_movie.groupby(['year','month','day']).nunique()

In [ ]:
df_movie.groupby(df_movie['mov_dt_rel'].dt.month).nunique()

In [ ]:
df_gb= df_movie.groupby(df_movie['mov_dt_rel'].dt.month).agg({'mov_time' : lambda x: x.min()})

In [ ]:
df_gb

# Crear datime dummies

In [ ]:
from pandas import date_range

# range of timestamps
timestamp_range = date_range(start="2020/02/20",
                                end="2020/05/01",periods=120)

In [ ]:
timestamp_range.format('%Y-%m-%d %H:%M:%S')

# Alternativa para crear valores de ambiente

In [2]:
# Establecer una variable de entorno
environ['MYSQL_DATABASE'] = 'sql9641466'
environ['MYSQL_USER'] = 'sql9641466'
environ['MYSQL_PASSWORD'] = 'dJ76WES7di'
environ['MYSQL_HOST'] = 'sql3.freesqldatabase.com'
environ['MYSQL_PORT'] = '3306'

In [3]:
# Acceder a una variable de entorno
valor_variable = environ.get('MYSQL_HOST')

print("MYSQL_HOST: ",valor_variable)  # Esto imprimirá 'valor'

MYSQL_HOST:  sql3.freesqldatabase.com

### Versión V2 de la clase ControllerSQL

In [9]:
# Uso 
# controller_mysql_v2= ControllerSQLv2( database='sql3644573' , user='sql3644573', password='eUl789MmAG', host='sql3.freesqldatabase.com', port=3306)