# Clases  Recapitulación

In [4]:
from os import environ,chdir
from dotenv import load_dotenv, find_dotenv
chdir("../..")
load_dotenv('conf/.local')

True

In [3]:
# Definición de la clase Alumno
class Alumno:
    def __init__(self, nombre, edad, calificacion):
        """
        Crea un objeto Alumno con la información proporcionada.
        
        :param nombre: Nombre del alumno.
        :param edad: Edad del alumno.
        :param calificacion: Nota del alumno.
        """
        self.nombre = nombre
        self.edad = edad
        self.calificacion = calificacion
        self.genero = 'Masculino'
        
    def imprime(self):
        print("Nombre: ", self.nombre)
        print("Edad: ", self.edad)
        print("Calificación: ", self.calificacion)

    def updated(self,nombre, edad, calificacion):
        self.nombre = nombre
        self.edad = edad
        self.calificacion = calificacion

Instanciamos de objeto de la clase alumno

In [113]:
alumno_alex = Alumno("Alex", 34, 90)
alumno_omar = Alumno("omar", 40, 60)

LLamamos al método imprime para la instancias `alumno_alex`

In [114]:
alumno_alex.imprime()

Nombre:  Alex
Edad:  34
Calificación:  90

LLamamos al método imprime para la instancias `alumno_omar`

In [115]:
alumno_omar.imprime()

Nombre:  omar
Edad:  40
Calificación:  60

llamamos al métodos `updated`

In [116]:
alumno_omar.updated("omar", 55, 10)

volvemos a imprimir el contenido de las variables

In [117]:
alumno_omar.imprime()

Nombre:  omar
Edad:  55
Calificación:  10

Creamos una lista con instancias de tipo `Alumno` y la iteramos para visualizar la información

In [119]:
lista_alumnos = [alumno_omar,alumno_alex]

for alumno in lista_alumnos:
    alumno.imprime()
    print("*"*20)

Nombre:  omar
Edad:  55
Calificación:  10
********************
Nombre:  Alex
Edad:  34
Calificación:  90
********************

# Agenda de hoy

- Numpy *
- Pandas
- Dataframe 
- Métodos más comunes de un DataFrane
- Revisar el proyecto del modulo 1

# Importar módulos y bibliotecas

* ¿Cuál es el proceso para importar una librería?
* ¿Cómo se puede acceder a las funciones de una librería?
* Las librerías se pueden nombrar de la forma que se desee?

In [6]:
# importar todo el módulo pandas
import pandas as pd
# importar sólo la clase  que se utiliza
from pandas import read_csv

 ejemplo de como llamar al método `read_csv`

In [10]:
ls

conf/      data/      images/    notebooks/ scripts/   sliders/   utils/

In [12]:
# Llamada utilizando pd
df_1 = pd.read_csv("data/dataset_1.txt")

# Llamada utilizando directamente read_csv
df_2 = read_csv("data/dataset_1.txt")

# Función apply() para una columna

In [101]:
def cuadrado(x):
    return x**2

df_1["cuadrado"] = df_1["Edad"].apply(cuadrado)

# Funcuión apply() para multiples columnas

In [93]:
def concatenar_columnas(row):
    return row[" Nombre"] + "_" + row["Ciudad"]

df_1["Code_3"] = df_1.apply(concatenar_columnas,axis=1)

In [123]:
df_1

       Nombre  Edad        Ciudad     Género  cuadrado               Code_3
0         Ana    25        México   Femenino       625           Ana_México
1        Juan    30        Madrid  Masculino       900          Juan_Madrid
2       María    28  Buenos Aires   Femenino       784   María_Buenos Aires
3        Luis    22          Lima  Masculino       484            Luis_Lima
4       Elena    27     Sao Paulo   Femenino       729      Elena_Sao Paulo
..        ...   ...           ...        ...       ...                  ...
84  Alejandro    29      Santiago  Masculino       841   Alejandro_Santiago
85     Camila    26  Buenos Aires   Femenino       676  Camila_Buenos Aires
86      Jorge    28        México  Masculino       784         Jorge_México
87     Renata    30     Monterrey   Femenino       900     Renata_Monterrey
88     Andrés    27        Bogotá  Masculino       729        Andrés_Bogotá

[89 rows x 6 columns]

# Pipeline GroupBy()

In [130]:
df_1[(df_1.Edad > 0) & (df_1.Edad < 30)].drop_duplicates(subset=[" Nombre","Ciudad"],keep='first')\
        .groupby("Género").agg(
        Edad_MIN=('Edad', 'min'), 
        Edad_MAX=('Edad', 'max'),
        Conteo_EDAD=('Edad', 'mean')).sort_values("Edad_MIN",ascending = True)

           Edad_MIN  Edad_MAX  Conteo_EDAD
Género
Masculino        22        29    27.608696
Femenino         23        29    25.833333

In [ ]:
df_1.groupby('')

## Practica # 1

Objetivo : Crear un DataFrame utilizando listas y explorar sus dimensiones, nombre de las columnas y los primeros y últimos elementos :

Supongamos que trabajas para una empresa de análisis de datos que está ayudando a una empresa de marketing a comprender mejor su base de usuarios. Los datos incluyen nombres, edades y ciudades de los usuarios. 


1.- Crear 3 listas, la primera con 5 nombres de personas, las 2 restantes deben de ser una lista de  edades y ciudades asociadas a la primera lista de personas  

2.- Crear un DataFrame a partir de las listas proporcionadas (utilizando solo listas y utilizando un diccionario).

3.- Obtener las dimensiones del dataframe y el nombre de las columnas

4.- Imprimir los primeros y ultimos 10 elementos

## Practica # 2

Objetivo : Leer un DataFrame utilizando listas y explorar sus dimensiones, nombre de las columnas y los primeros y últimos elementos :


1.- Leer el archivo llamado dataset_1.txt y el archivo llamado dataset_2.json y almacenarlos en un DataFrame

__para ambos archivos hacer__: 


2.- Obtener las dimensiones del dataframe y el nombre de las columnas

3.- Imprimir los primeros y ultimos 10 elementos

__para el archivo dataset_1.txt__ hacer :

- Mostrar el tipo de datos de las diferentes columnas de DataFrame
- Mostrar sólo una columna `Ciudad` utilizanod la notación de corchetes y la notación de clase y asignarla dicha columna a una variable y mostart de que tipo es.
- Contar el número de valores para la valiable `Ciudad` utilizando la función `value_counts()`
-  Validar elementos duplicados en el DataFrame
- Mostrar las columnas `Edad` y `Ciudad` y Crear una nueva columna en el DataFrame llamada `Code` concatenando las columnas `Nombre` y `Ciudad`
- (1) Mostrar los datos de la segunda fila a la cuarta (2) mostrar todo los datos de la tercera fila
- Crear un filtro con las restricciones `Ciudad = Mexico` y `Genero = Masculino`
- Ordenar los valores de forma accendente de acuerdo a la variable `Edad`
- Renombrar la columna `Code` por otro nombre (cualquiera)
- Eliminar la columna renombrada
- Agrupar los datos por `Ciudad` y obtener la media

## Ejercición del día (Para entregar) 10 Mínutos

- Encontrar los valores unicos para cada columna
- Encontrar en número de veces que se repite cada valor único
- Agrupar por `género`, contar el número de personas por cada género y el promedio de edad por género

# ¡Es el momento de que compartas lo que lograste en el reto de la semana!

# Tarea
* Ejercicios y reto de la semana de la presentación (.pptx)
* Leer la teoria de bases de datos SQL y No SQL

# Revisar el proyecto final del modulo 1