# Preludio

## Diccionarios en python

Para definirlo un diccionario junto con los miembros que va a contener, se encierra el listado de valores entre llaves {..} , las parejas de `clave` y su `valor` se separan con `:`. Cada par de  valores (`clave`:`valor`) se separa por medio de comas (`,`). Ejemplo :

In [36]:
punto = {1: '212323' ,"y": 1, 'z': 4}

#acceder al valor del elemento con 'key'
print(punto["z"])
#pyhton no hace distinción entre comillas simples (') y comillas dobles (")

4

In [37]:
#Tambien se declara como un par de llaves sin nada en medio, y luego se asignan valores directamente a los indices.
materias = {}
materias['lunes'] = [6103, 7540, 10]
materias["martes"] = [6201]
materias["miércoles"] = [6103, 7540]
materias["jueves"] = []
materias["viernes"] = [6201]

In [38]:
#acceder a el valor de lla variable con la clave 'miércoles'
materias["jueves"]

[]

Un diccionario se puede ver como una clase objeto, todas las clases en python tiene asociadas ciertas funciones, las cuales se invocan con el nombre que toma el objeto (por ejemplo `materias{}`, es un objeto tipo diccionario y su nombre es `materias`), seguido de un punto `.`, el nonbre de la función y un par de paréntesis `()`.
## items()
Devuelve todas las tuplas del diccionario, cada tupla se compone de dos elementos: el primero que es `clave` y el segundo, el `valor` asociado a la clave. Una tupla es conciderada como una colección de elementos de diferente tipo separados por 'comas', como en : ('lunes', [6103, 7540, 10]). Tupla con dos elementos: un cadena de texto y una lista con tres elementos.

In [39]:
items = materias.items()
print(items)

dict_items([('lunes', [6103, 7540, 10]), ('martes', [6201]), ('miércoles', [6103, 7540]), ('jueves', []), ('viernes', [6201])])

## keys()

Retorna la lista de claves de nuestro diccionario.

In [40]:
keys= materias.keys()
print(keys)

dict_keys(['lunes', 'martes', 'miércoles', 'jueves', 'viernes'])

Para iterar dentro de todos los elementos del diccionario  se utiliza un 'for'.

In [41]:
for key in materias:
    print (key , materias[key])

lunes [6103, 7540, 10]
martes [6201]
miércoles [6103, 7540]
jueves []
viernes [6201]

tambien podemos obtener todas las entradas del diccionario utilizando un `for` y  los `items` que genera la función `.items()`.

In [42]:
for key,value in items:
    print (key ,":", value)

lunes : [6103, 7540, 10]
martes : [6201]
miércoles : [6103, 7540]
jueves : []
viernes : [6201]

# Introducción rápida a Pandas

**Objetivos de aprendizaje:**
  * Obtener una introducción a las estructuras de datos:  `DataFrame` y `Series` de la biblioteca de *Pandas*
  * Acceder y manipular datos dentro de un `DataFrame` y `Series`
  * Importar datos CSV a un `DataFrame` de *Pandas*
  * Reindexar un `DataFrame` para obtener datos aleatorios
  
  
  [*pandas*](http://pandas.pydata.org/) es una API de análisis de datos, ideal para manipular y analizar datos de entrada. Además, muchas bibliotecas  admiten las estructuras de datos de *pandas* como entradas.
Si bien una introducción detallada a la API de *pandas* abarcaría muchas páginas, los conceptos principales que presentamos a continuación son simples.

 ## Conceptos básicos

La siguiente línea importa la API de *pandas* e imprime la versión de la API:

In [43]:
import pandas as pd
pd.__version__

'0.22.0'

 Las estructuras de datos principales en *pandas* están implementadas en dos clases:

  * **`DataFrame`**, tabla de datos, con filas y columnas, es posible asignarle un nombre a cada columna (nombre de las variables).
  
  * **`Series`**, es igual que una fila. Una  `DataFrame` incluye una o más `Series`, cada serie debe de tener un nombre.

 Una manera de crear una `Series` es construir un objeto de `Series`. Por ejemplo:

In [44]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
print(city_names)

0    San Francisco
1         San Jose
2       Sacramento
dtype: object

 Los objetos  `DataFrame` pueden crearse al enviar un `dicccionario` para que asigne nombres a las columnas, cada columna es una `Series`. Si las `Series` no coinciden con la longitud, los valores faltantes se completan con valores [NA/NaN](http://pandas.pydata.org/pandas-docs/stable/missing_data.html) especiales. Ejemplo:

In [45]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([52469, 1015785, 485199])

features = pd.DataFrame({ 'City name': city_names, 'Population': population })

A veces es necesario convertir un Dataframe a un diccionario. (Ej: cuando utilizamos Ternsorflow) lo hacemos de la siguiente forma:

In [46]:
import numpy as np
features = {key:np.array(value) for key,value in dict(features).items()}
print(features)

{'City name': array(['San Francisco', 'San Jose', 'Sacramento'], dtype=object), 'Population': array([  52469, 1015785,  485199])}

 Pero por lo general, cargas un archivo completo en un `DataFrame`. El siguiente ejemplo carga un archivo con datos de viviendas de California. Ejecuta la siguiente celda para cargar los datos, el archivo de datos debe de estar en la  ruta especificada.

In [47]:
california_housing_dataframe = pd.read_csv("../data/california_housing_train.csv", sep=",")

          longitude      latitude  housing_median_age   total_rooms  \
count  17000.000000  17000.000000        17000.000000  17000.000000
mean    -119.562108     35.625225           28.589353   2643.664412
std        2.005166      2.137340           12.586937   2179.947071
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.790000     33.930000           18.000000   1462.000000
50%     -118.490000     34.250000           29.000000   2127.000000
75%     -118.000000     37.720000           37.000000   3151.250000
max     -114.310000     41.950000           52.000000  37937.000000

       total_bedrooms    population    households  median_income  \
count    17000.000000  17000.000000  17000.000000   17000.000000
mean       539.410824   1429.573941    501.221941       3.883578
std        421.499452   1147.852959    384.520841       1.908157
min          1.000000      3.000000      1.000000       0.499900
25%        297.000000    790.000000    282.000000       2.566375
50%        434.000000   1167.000000    409.000000       3.544600
75%        648.250000   1721.000000    605.250000       4.767000
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        17000.000000
mean        207300.912353
std         115983.764387
min          14999.000000
25%         119400.000000
50%         180400.000000
75%         265000.000000
max         500001.000000

Para visualizar las estadísticas del dataFrame podemos utilizar el método  `describe()`

In [ ]:
print(california_housing_dataframe.describe())

tambien podemos aplicar el método `describe()` a una sola columna

In [98]:
print(california_housing_dataframe["longitude"].describe())

count    17000.000000
mean      -119.562108
std          2.005166
min       -124.350000
25%       -121.790000
50%       -118.490000
75%       -118.000000
max       -114.310000
Name: longitude, dtype: float64

Para visualizar la información de las variables utilizamos el método  `info()`

In [48]:
# Pedomos información general del dataset
print(california_housing_dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
longitude             17000 non-null float64
latitude              17000 non-null float64
housing_median_age    17000 non-null float64
total_rooms           17000 non-null float64
total_bedrooms        17000 non-null float64
population            17000 non-null float64
households            17000 non-null float64
median_income         17000 non-null float64
median_house_value    17000 non-null float64
dtypes: float64(9)
memory usage: 1.2 MB
None

para imprimir los datos que se cargaron del archivos  `CSV ` y que ahora estan almacenados en la variable  `california_housing_dataframe` lo hacemos de la siguiente manera:

In [49]:
print(california_housing_dataframe)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
5        -114.58     33.63                29.0       1387.0           236.0
6        -114.58     33.61                25.0       2907.0           680.0
7        -114.59     34.83                41.0        812.0           168.0
8        -114.59     33.61                34.0       4789.0          1175.0
9        -114.60     34.83                46.0       1497.0           309.0
10       -114.60     33.62                16.0       3741.0           801.0
11       -114.60     33.60                21.0       1988.0           483.0
12       -114.61     34.84                48.0       1291.0           248.0
13       -114.61     34.83                31.0       2478.0           464.0
14       -114.63     32.76                15.0       1448.0           378.0
15       -114.65     34.89                17.0       2556.0           587.0
16       -114.65     33.60                28.0       1678.0           322.0
17       -114.65     32.79                21.0         44.0            33.0
18       -114.66     32.74                17.0       1388.0           386.0
19       -114.67     33.92                17.0         97.0            24.0
20       -114.68     33.49                20.0       1491.0           360.0
21       -114.73     33.43                24.0        796.0           243.0
22       -114.94     34.55                20.0        350.0            95.0
23       -114.98     33.82                15.0        644.0           129.0
24       -115.22     33.54                18.0       1706.0           397.0
25       -115.32     32.82                34.0        591.0           139.0
26       -115.37     32.82                30.0       1602.0           322.0
27       -115.37     32.82                14.0       1276.0           270.0
28       -115.37     32.81                32.0        741.0           191.0
29       -115.37     32.81                23.0       1458.0           294.0
...          ...       ...                 ...          ...             ...
16970    -124.17     40.80                52.0       1606.0           419.0
16971    -124.17     40.80                52.0       1557.0           344.0
16972    -124.17     40.79                43.0       2285.0           479.0
16973    -124.17     40.78                39.0       1606.0           330.0
16974    -124.17     40.77                30.0       1895.0           366.0
16975    -124.17     40.76                26.0       1776.0           361.0
16976    -124.17     40.75                13.0       2171.0           339.0
16977    -124.17     40.62                32.0       1595.0           309.0
16978    -124.18     40.79                39.0       1836.0           352.0
16979    -124.18     40.78                37.0       1453.0           293.0
16980    -124.18     40.78                34.0       1592.0           364.0
16981    -124.18     40.78                33.0       1076.0           222.0
16982    -124.18     40.62                35.0        952.0           178.0
16983    -124.19     41.78                15.0       3140.0           714.0
16984    -124.19     40.78                37.0       1371.0           319.0
16985    -124.19     40.77                30.0       2975.0           634.0
16986    -124.19     40.73                21.0       5694.0          1056.0
16987    -124.21     41.77                17.0       3461.0           722.0
16988    -124.21     41.75                20.0       3810.0           787.0
16989    -124.21     40.75                32.0       1218.0           331.0
16990    -124.22     41.73                28.0       3003.0           699.0
16991    -124.23     41.75                11.0       3159.0           616.0
16992    -124.23     40.81                52.0       1112.0           209.0
16993    -124.23     40.54                52.0       2694.0           453.0
16994    -124.25     40.28                32.0       1430.0           419.0
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
5           671.0       239.0         3.3438             74000.0
6          1841.0       633.0         2.6768             82400.0
7           375.0       158.0         1.7083             48500.0
8          3134.0      1056.0         2.1782             58400.0
9           787.0       271.0         2.1908             48100.0
10         2434.0       824.0         2.6797             86500.0
11         1182.0       437.0         1.6250             62000.0
12          580.0       211.0         2.1571             48600.0
13         1346.0       479.0         3.2120             70400.0
14          949.0       300.0         0.8585             45000.0
15         1005.0       401.0         1.6991             69100.0
16          666.0       256.0         2.9653             94900.0
17           64.0        27.0         0.8571             25000.0
18          775.0       320.0         1.2049             44000.0
19           29.0        15.0         1.2656             27500.0
20         1135.0       303.0         1.6395             44400.0
21          227.0       139.0         0.8964             59200.0
22          119.0        58.0         1.6250             50000.0
23          137.0        52.0         3.2097             71300.0
24         3424.0       283.0         1.6250             53500.0
25          327.0        89.0         3.6528            100000.0
26         1130.0       335.0         3.5735             71100.0
27          867.0       261.0         1.9375             80900.0
28          623.0       169.0         1.7604             68600.0
29          866.0       275.0         2.3594             74300.0
...           ...         ...            ...                 ...
16970       891.0       367.0         1.5850             75500.0
16971       758.0       319.0         1.8529             62500.0
16972      1169.0       482.0         1.9688             70500.0
16973       731.0       327.0         1.6369             68300.0
16974       990.0       359.0         2.2227             81300.0
16975       992.0       380.0         2.8056             82800.0
16976       951.0       353.0         4.8516            116100.0
16977       706.0       277.0         2.8958             86400.0
16978       883.0       337.0         1.7450             70500.0
16979       867.0       310.0         2.5536             70200.0
16980       950.0       317.0         2.1607             67000.0
16981       656.0       236.0         2.5096             72200.0
16982       480.0       179.0         3.0536            107000.0
16983      1645.0       640.0         1.6654             74600.0
16984       640.0       260.0         1.8242             70000.0
16985      1367.0       583.0         2.4420             69000.0
16986      2907.0       972.0         3.5363             90100.0
16987      1947.0       647.0         2.5795             68400.0
16988      1993.0       721.0         2.0074             66900.0
16989       620.0       268.0         1.6528             58100.0
16990      1530.0       653.0         1.7038             78300.0
16991      1343.0       479.0         2.4805             73200.0
16992       544.0       172.0         3.3462             50800.0
16993      1152.0       435.0         3.0806            106700.0
16994       434.0       187.0         1.9417             76100.0
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

### Algunos inputs/outputs con los que podemos trabajar en pandas
- CSV, text
- SQL database
- Excel
- json
- html

En el ejemplo de arriba, se usó `DataFrame.describe` para mostrar estadísticas interesantes sobre un `DataFrame`. Otra función útil es `DataFrame.head`, que muestra los primeros registros de un `DataFrame`:

In [50]:
#imprimir los primeros 5 datos con la funcion .head()
california_housing_dataframe.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [51]:
# ¿Para revisar los últimos?, usamos tail()
california_housing_dataframe.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

<div class="alert alert-info" role="alert"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Los metodos anteriores son útiles para empezar a explorar los datos. El método describe("all") en especial que nos ayudará tener muchisima información de nuestro dataset de manera muy rápida:</div>

In [52]:
#cargar otro archivos de datos a memoria
data = pd.read_csv('../data/train.csv')
# describe() nos genera varios estadisticos importantes de nuestro dataset
data.describe(include="all")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Kilgannon, Mr. Thomas J",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

¿Qué podemos identificar en este dataset?

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1"><i class="fa fa-bookmark" aria-hidden="true"></i> Algunas respuestas:</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Name, Sex, Ticket, Cabin y Embarked son variables categoricas, las demás son numericas</li>
        <li class="list-group-item">Age, Cabin y Embarked contienen "Missing Values"</li>
        <li class="list-group-item">La mayor cantidad de personas embarcó en Southampton</li>
        <li class="list-group-item">El costo del boleto promedio parece estar alrededor de los 32 ¿libras?</li>
      </ul>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert"><i class="fa fa-pencil" aria-hidden="true"></i> <strong>¡Importante recordar!</strong> si usamos describe() sin el argumento include="all" solo nos traerá estadisticos para las variables numericas</div>

También podemos usar el metodo `value_counts()` con las variables categorias para tener una mejor noción de los factores de dichas variables

In [53]:
data["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

Podemos usar el argumento `normalize=True` para normalizar los datos

In [54]:
data["Survived"].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

Podemos saber los valores que pueda tomar una variable nominal/categorica/discreta y el número de repeticiones

In [55]:
data["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

Con el metodo `unique()` se nos regresa un arreglo con los distintos factores (valores posibles) que aparecen en la Serie (sin repetición)

In [56]:
data["Cabin"].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

contamos el número de valores únicos que contiene la variable "Cabin"

In [100]:
len(data["Cabin"].unique())

148

### Ordenar los datos (Sort)

Podemos acomodar los datos usando el método `sort_values()`

In [103]:
data.sort_values(by="Age").head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,male,0.42,0,1,2625,8.5167,NaN,C
755,756,1,2,male,0.67,1,1,250649,14.5000,NaN,S
644,645,1,3,female,0.75,2,1,2666,19.2583,NaN,C
469,470,1,3,female,0.75,2,1,2666,19.2583,NaN,C
78,79,1,2,male,0.83,0,2,248738,29.0000,NaN,S

Podemos pasarme como parámetro el método de ordenación, como puede ser `quicksort`

In [105]:
data.sort_values(by ="Age" , axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,male,0.42,0,1,2625,8.5167,NaN,C
755,756,1,2,male,0.67,1,1,250649,14.5000,NaN,S
644,645,1,3,female,0.75,2,1,2666,19.2583,NaN,C
469,470,1,3,female,0.75,2,1,2666,19.2583,NaN,C
78,79,1,2,male,0.83,0,2,248738,29.0000,NaN,S
831,832,1,2,male,0.83,1,1,29106,18.7500,NaN,S
305,306,1,1,male,0.92,1,2,113781,151.5500,C22 C26,S
827,828,1,2,male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
381,382,1,3,female,1.00,0,2,2653,15.7417,NaN,C
164,165,0,3,male,1.00,4,1,3101295,39.6875,NaN,S
183,184,1,2,male,1.00,2,1,230136,39.0000,F4,S
386,387,0,3,male,1.00,5,2,CA 2144,46.9000,NaN,S
172,173,1,3,female,1.00,1,1,347742,11.1333,NaN,S
788,789,1,3,male,1.00,1,2,C.A. 2315,20.5750,NaN,S
642,643,0,3,female,2.00,3,2,347088,27.9000,NaN,S
7,8,0,3,male,2.00,3,1,349909,21.0750,NaN,S
530,531,1,2,female,2.00,1,1,26360,26.0000,NaN,S
297,298,0,1,female,2.00,1,2,113781,151.5500,C22 C26,S
824,825,0,3,male,2.00,4,1,3101295,39.6875,NaN,S
205,206,0,3,female,2.00,0,1,347054,10.4625,G6,S
119,120,0,3,female,2.00,4,2,347082,31.2750,NaN,S
340,341,1,2,male,2.00,1,1,230080,26.0000,F2,S
479,480,1,3,female,2.00,0,1,3101298,12.2875,NaN,S
16,17,0,3,male,2.00,4,1,382652,29.1250,NaN,Q
348,349,1,3,male,3.00,1,1,C.A. 37671,15.9000,NaN,S
407,408,1,2,male,3.00,1,1,29106,18.7500,NaN,S
374,375,0,3,female,3.00,3,1,349909,21.0750,NaN,S
261,262,1,3,male,3.00,4,2,347077,31.3875,NaN,S
43,44,1,2,female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
193,194,1,2,male,3.00,1,1,230080,26.0000,F2,S
...,...,...,...,...,...,...,...,...,...,...,...
718,719,0,3,male,NaN,0,0,36568,15.5000,NaN,Q
727,728,1,3,female,NaN,0,0,36866,7.7375,NaN,Q
732,733,0,2,male,NaN,0,0,239855,0.0000,NaN,S
738,739,0,3,male,NaN,0,0,349201,7.8958,NaN,S
739,740,0,3,male,NaN,0,0,349218,7.8958,NaN,S
740,741,1,1,male,NaN,0,0,16988,30.0000,D45,S
760,761,0,3,male,NaN,0,0,358585,14.5000,NaN,S
766,767,0,1,male,NaN,0,0,112379,39.6000,NaN,C
768,769,0,3,male,NaN,1,0,371110,24.1500,NaN,Q
773,774,0,3,male,NaN,0,0,2674,7.2250,NaN,C
776,777,0,3,male,NaN,0,0,383121,7.7500,F38,Q
778,779,0,3,male,NaN,0,0,36865,7.7375,NaN,Q
783,784,0,3,male,NaN,1,2,W./C. 6607,23.4500,NaN,S
790,791,0,3,male,NaN,0,0,12460,7.7500,NaN,Q
792,793,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
793,794,0,1,male,NaN,0,0,PC 17600,30.6958,NaN,C
815,816,0,1,male,NaN,0,0,112058,0.0000,B102,S
825,826,0,3,male,NaN,0,0,368323,6.9500,NaN,Q
826,827,0,3,male,NaN,0,0,1601,56.4958,NaN,S
828,829,1,3,male,NaN,0,0,367228,7.7500,NaN,Q
832,833,0,3,male,NaN,0,0,2671,7.2292,NaN,C
837,838,0,3,male,NaN,0,0,392092,8.0500,NaN,S
839,840,1,1,male,NaN,0,0,11774,29.7000,C47,C
846,847,0,3,male,NaN,8,2,CA. 2343,69.5500,NaN,S
849,850,1,1,female,NaN,1,0,17453,89.1042,C92,C
859,860,0,3,male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S

¿Pero y que tal si una columna no nos parece?

Pues podemos borrar columnas usando los comando del, pop(), drop()
- del: modifica nuestro dataframe borrando la Serie seleccionada.
- pop(): borra la Serie pero la regresa como un output
- drop(): regresa un dataframe sin la Serie, pero no modifica el dataframe original

Por lo pronto yo no le veo mucho sentido a la columna "Name", (hay gente que si https://www.kaggle.com/anthonyg/titanic/lucky-names/output)

Podemos quitar usando `del` que es la manera mas sencilla

In [60]:
del data["Name"]

ahora el `dataframe` sólo tiene 11 variables, debido a que eliminamos la columna `Name`

In [61]:
len(data.columns)

11

<i class="fa fa-clock-o" aria-hidden="true"></i> Recordando:
    
pandas provee estructuras para el manejo de datos, Series, DataFrames y Panels.
- Series: son arreglos de una dimensión.
- DataFrames: son colecciones de series (2 dimensiones).
- Panels: son colecciones de DataFrames (3 dimensiones).

Si queremos saber el numeros de valores unicos de una variables lo podemos hacer de esta forma:

In [62]:
len(data["Sex"].unique())

2

para saber de que tipo es una variables utilizamos el métodod `type()` el cual nos regresa el tipo del objeto

In [63]:
type(data)

pandas.core.frame.DataFrame

o de igual forma para saber de que tipo es una variable en específico

In [64]:
type(data["Age"])

pandas.core.series.Series

Saber el tipo de datos de cada variable

In [65]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### Ejercicio 2
Intentemos ahora hace un subset, trayendo los valores para los cuales la edad es mayor a 60 años

In [106]:
# >> respuesta

 ## Acceso a los datos

Puedes acceder a los datos de `DataFrame` mediante las operaciones convencionales de dict/list de Python. Por ejemplo acceder a la columna 'longitud' y almacenarla en otra variable

In [73]:
col_1 = california_housing_dataframe['longitude']
col_1 = col_1/1000

Guardar la columna 'col_1' en un archivo llamado stuff.csv

In [74]:
col_1.to_csv('stuff.csv', header=True, index=False)

Para saber el nombre de las colunas lo hacemos así:

In [75]:

print(california_housing_dataframe.columns.values)

#'longitude' 'latitude' 'housing_median_age' 'total_rooms''total_bedrooms' 'population' 'households' 'median_income''median_house_value'

['longitude' 'latitude' 'housing_median_age' 'total_rooms'
 'total_bedrooms' 'population' 'households' 'median_income'
 'median_house_value']

Para extraer(aislarlas) varias columnas de dataframe se puede hacer de esta forma

In [76]:
sub_set_california = california_housing_dataframe.set_index(['median_income', 'population'])
print(sub_set_california)

                          longitude  latitude  housing_median_age  \
median_income population
1.4936        1015.0        -114.31     34.19                15.0
1.8200        1129.0        -114.47     34.40                19.0
1.6509        333.0         -114.56     33.69                17.0
3.1917        515.0         -114.57     33.64                14.0
1.9250        624.0         -114.57     33.57                20.0
3.3438        671.0         -114.58     33.63                29.0
2.6768        1841.0        -114.58     33.61                25.0
1.7083        375.0         -114.59     34.83                41.0
2.1782        3134.0        -114.59     33.61                34.0
2.1908        787.0         -114.60     34.83                46.0
2.6797        2434.0        -114.60     33.62                16.0
1.6250        1182.0        -114.60     33.60                21.0
2.1571        580.0         -114.61     34.84                48.0
3.2120        1346.0        -114.61     34.83                31.0
0.8585        949.0         -114.63     32.76                15.0
1.6991        1005.0        -114.65     34.89                17.0
2.9653        666.0         -114.65     33.60                28.0
0.8571        64.0          -114.65     32.79                21.0
1.2049        775.0         -114.66     32.74                17.0
1.2656        29.0          -114.67     33.92                17.0
1.6395        1135.0        -114.68     33.49                20.0
0.8964        227.0         -114.73     33.43                24.0
1.6250        119.0         -114.94     34.55                20.0
3.2097        137.0         -114.98     33.82                15.0
1.6250        3424.0        -115.22     33.54                18.0
3.6528        327.0         -115.32     32.82                34.0
3.5735        1130.0        -115.37     32.82                30.0
1.9375        867.0         -115.37     32.82                14.0
1.7604        623.0         -115.37     32.81                32.0
2.3594        866.0         -115.37     32.81                23.0
...                             ...       ...                 ...
1.5850        891.0         -124.17     40.80                52.0
1.8529        758.0         -124.17     40.80                52.0
1.9688        1169.0        -124.17     40.79                43.0
1.6369        731.0         -124.17     40.78                39.0
2.2227        990.0         -124.17     40.77                30.0
2.8056        992.0         -124.17     40.76                26.0
4.8516        951.0         -124.17     40.75                13.0
2.8958        706.0         -124.17     40.62                32.0
1.7450        883.0         -124.18     40.79                39.0
2.5536        867.0         -124.18     40.78                37.0
2.1607        950.0         -124.18     40.78                34.0
2.5096        656.0         -124.18     40.78                33.0
3.0536        480.0         -124.18     40.62                35.0
1.6654        1645.0        -124.19     41.78                15.0
1.8242        640.0         -124.19     40.78                37.0
2.4420        1367.0        -124.19     40.77                30.0
3.5363        2907.0        -124.19     40.73                21.0
2.5795        1947.0        -124.21     41.77                17.0
2.0074        1993.0        -124.21     41.75                20.0
1.6528        620.0         -124.21     40.75                32.0
1.7038        1530.0        -124.22     41.73                28.0
2.4805        1343.0        -124.23     41.75                11.0
3.3462        544.0         -124.23     40.81                52.0
3.0806        1152.0        -124.23     40.54                52.0
1.9417        434.0         -124.25     40.28                32.0
2.3571        907.0         -124.26     40.58                52.0
2.5179        1194.0        -124.27     40.69                36.0
3.0313        1244.0        -124.30     41.84                17.0
1.9797        1298.0        -124.30     41.80                19.0
3.0147        806.0         -124.35     40.54                52.0

                          total_rooms  total_bedrooms  households  \
median_income population
1.4936        1015.0           5612.0          1283.0       472.0
1.8200        1129.0           7650.0          1901.0       463.0
1.6509        333.0             720.0           174.0       117.0
3.1917        515.0            1501.0           337.0       226.0
1.9250        624.0            1454.0           326.0       262.0
3.3438        671.0            1387.0           236.0       239.0
2.6768        1841.0           2907.0           680.0       633.0
1.7083        375.0             812.0           168.0       158.0
2.1782        3134.0           4789.0          1175.0      1056.0
2.1908        787.0            1497.0           309.0       271.0
2.6797        2434.0           3741.0           801.0       824.0
1.6250        1182.0           1988.0           483.0       437.0
2.1571        580.0            1291.0           248.0       211.0
3.2120        1346.0           2478.0           464.0       479.0
0.8585        949.0            1448.0           378.0       300.0
1.6991        1005.0           2556.0           587.0       401.0
2.9653        666.0            1678.0           322.0       256.0
0.8571        64.0               44.0            33.0        27.0
1.2049        775.0            1388.0           386.0       320.0
1.2656        29.0               97.0            24.0        15.0
1.6395        1135.0           1491.0           360.0       303.0
0.8964        227.0             796.0           243.0       139.0
1.6250        119.0             350.0            95.0        58.0
3.2097        137.0             644.0           129.0        52.0
1.6250        3424.0           1706.0           397.0       283.0
3.6528        327.0             591.0           139.0        89.0
3.5735        1130.0           1602.0           322.0       335.0
1.9375        867.0            1276.0           270.0       261.0
1.7604        623.0             741.0           191.0       169.0
2.3594        866.0            1458.0           294.0       275.0
...                               ...             ...         ...
1.5850        891.0            1606.0           419.0       367.0
1.8529        758.0            1557.0           344.0       319.0
1.9688        1169.0           2285.0           479.0       482.0
1.6369        731.0            1606.0           330.0       327.0
2.2227        990.0            1895.0           366.0       359.0
2.8056        992.0            1776.0           361.0       380.0
4.8516        951.0            2171.0           339.0       353.0
2.8958        706.0            1595.0           309.0       277.0
1.7450        883.0            1836.0           352.0       337.0
2.5536        867.0            1453.0           293.0       310.0
2.1607        950.0            1592.0           364.0       317.0
2.5096        656.0            1076.0           222.0       236.0
3.0536        480.0             952.0           178.0       179.0
1.6654        1645.0           3140.0           714.0       640.0
1.8242        640.0            1371.0           319.0       260.0
2.4420        1367.0           2975.0           634.0       583.0
3.5363        2907.0           5694.0          1056.0       972.0
2.5795        1947.0           3461.0           722.0       647.0
2.0074        1993.0           3810.0           787.0       721.0
1.6528        620.0            1218.0           331.0       268.0
1.7038        1530.0           3003.0           699.0       653.0
2.4805        1343.0           3159.0           616.0       479.0
3.3462        544.0            1112.0           209.0       172.0
3.0806        1152.0           2694.0           453.0       435.0
1.9417        434.0            1430.0           419.0       187.0
2.3571        907.0            2217.0           394.0       369.0
2.5179        1194.0           2349.0           528.0       465.0
3.0313        1244.0           2677.0           531.0       456.0
1.9797        1298.0           2672.0           552.0       478.0
3.0147        806.0            1820.0           300.0       270.0

                          median_house_value
median_income population
1.4936        1015.0                 66900.0
1.8200        1129.0                 80100.0
1.6509        333.0                  85700.0
3.1917        515.0                  73400.0
1.9250        624.0                  65500.0
3.3438        671.0                  74000.0
2.6768        1841.0                 82400.0
1.7083        375.0                  48500.0
2.1782        3134.0                 58400.0
2.1908        787.0                  48100.0
2.6797        2434.0                 86500.0
1.6250        1182.0                 62000.0
2.1571        580.0                  48600.0
3.2120        1346.0                 70400.0
0.8585        949.0                  45000.0
1.6991        1005.0                 69100.0
2.9653        666.0                  94900.0
0.8571        64.0                   25000.0
1.2049        775.0                  44000.0
1.2656        29.0                   27500.0
1.6395        1135.0                 44400.0
0.8964        227.0                  59200.0
1.6250        119.0                  50000.0
3.2097        137.0                  71300.0
1.6250        3424.0                 53500.0
3.6528        327.0                 100000.0
3.5735        1130.0                 71100.0
1.9375        867.0                  80900.0
1.7604        623.0                  68600.0
2.3594        866.0                  74300.0
...                                      ...
1.5850        891.0                  75500.0
1.8529        758.0                  62500.0
1.9688        1169.0                 70500.0
1.6369        731.0                  68300.0
2.2227        990.0                  81300.0
2.8056        992.0                  82800.0
4.8516        951.0                 116100.0
2.8958        706.0                  86400.0
1.7450        883.0                  70500.0
2.5536        867.0                  70200.0
2.1607        950.0                  67000.0
2.5096        656.0                  72200.0
3.0536        480.0                 107000.0
1.6654        1645.0                 74600.0
1.8242        640.0                  70000.0
2.4420        1367.0                 69000.0
3.5363        2907.0                 90100.0
2.5795        1947.0                 68400.0
2.0074        1993.0                 66900.0
1.6528        620.0                  58100.0
1.7038        1530.0                 78300.0
2.4805        1343.0                 73200.0
3.3462        544.0                  50800.0
3.0806        1152.0                106700.0
1.9417        434.0                  76100.0
2.3571        907.0                 111400.0
2.5179        1194.0                 79000.0
3.0313        1244.0                103600.0
1.9797        1298.0                 85800.0
3.0147        806.0                  94600.0

[17000 rows x 7 columns]

In [77]:
primeras_4 = california_housing_dataframe.iloc[:, 3:5 ]
print(primeras_4)

       total_rooms  total_bedrooms
0           5612.0          1283.0
1           7650.0          1901.0
2            720.0           174.0
3           1501.0           337.0
4           1454.0           326.0
5           1387.0           236.0
6           2907.0           680.0
7            812.0           168.0
8           4789.0          1175.0
9           1497.0           309.0
10          3741.0           801.0
11          1988.0           483.0
12          1291.0           248.0
13          2478.0           464.0
14          1448.0           378.0
15          2556.0           587.0
16          1678.0           322.0
17            44.0            33.0
18          1388.0           386.0
19            97.0            24.0
20          1491.0           360.0
21           796.0           243.0
22           350.0            95.0
23           644.0           129.0
24          1706.0           397.0
25           591.0           139.0
26          1602.0           322.0
27          1276.0           270.0
28           741.0           191.0
29          1458.0           294.0
...            ...             ...
16970       1606.0           419.0
16971       1557.0           344.0
16972       2285.0           479.0
16973       1606.0           330.0
16974       1895.0           366.0
16975       1776.0           361.0
16976       2171.0           339.0
16977       1595.0           309.0
16978       1836.0           352.0
16979       1453.0           293.0
16980       1592.0           364.0
16981       1076.0           222.0
16982        952.0           178.0
16983       3140.0           714.0
16984       1371.0           319.0
16985       2975.0           634.0
16986       5694.0          1056.0
16987       3461.0           722.0
16988       3810.0           787.0
16989       1218.0           331.0
16990       3003.0           699.0
16991       3159.0           616.0
16992       1112.0           209.0
16993       2694.0           453.0
16994       1430.0           419.0
16995       2217.0           394.0
16996       2349.0           528.0
16997       2677.0           531.0
16998       2672.0           552.0
16999       1820.0           300.0

[17000 rows x 2 columns]

In [78]:
california_housing_dataframe.iloc[0:5, 1 ]

0    34.19
1    34.40
2    33.69
3    33.64
4    33.57
Name: latitude, dtype: float64

In [79]:
#las columnas 1,2 y 4
l = [1 ,2, 4]
california_housing_dataframe.iloc[:, l ]

       latitude  housing_median_age  total_bedrooms
0         34.19                15.0          1283.0
1         34.40                19.0          1901.0
2         33.69                17.0           174.0
3         33.64                14.0           337.0
4         33.57                20.0           326.0
5         33.63                29.0           236.0
6         33.61                25.0           680.0
7         34.83                41.0           168.0
8         33.61                34.0          1175.0
9         34.83                46.0           309.0
10        33.62                16.0           801.0
11        33.60                21.0           483.0
12        34.84                48.0           248.0
13        34.83                31.0           464.0
14        32.76                15.0           378.0
15        34.89                17.0           587.0
16        33.60                28.0           322.0
17        32.79                21.0            33.0
18        32.74                17.0           386.0
19        33.92                17.0            24.0
20        33.49                20.0           360.0
21        33.43                24.0           243.0
22        34.55                20.0            95.0
23        33.82                15.0           129.0
24        33.54                18.0           397.0
25        32.82                34.0           139.0
26        32.82                30.0           322.0
27        32.82                14.0           270.0
28        32.81                32.0           191.0
29        32.81                23.0           294.0
...         ...                 ...             ...
16970     40.80                52.0           419.0
16971     40.80                52.0           344.0
16972     40.79                43.0           479.0
16973     40.78                39.0           330.0
16974     40.77                30.0           366.0
16975     40.76                26.0           361.0
16976     40.75                13.0           339.0
16977     40.62                32.0           309.0
16978     40.79                39.0           352.0
16979     40.78                37.0           293.0
16980     40.78                34.0           364.0
16981     40.78                33.0           222.0
16982     40.62                35.0           178.0
16983     41.78                15.0           714.0
16984     40.78                37.0           319.0
16985     40.77                30.0           634.0
16986     40.73                21.0          1056.0
16987     41.77                17.0           722.0
16988     41.75                20.0           787.0
16989     40.75                32.0           331.0
16990     41.73                28.0           699.0
16991     41.75                11.0           616.0
16992     40.81                52.0           209.0
16993     40.54                52.0           453.0
16994     40.28                32.0           419.0
16995     40.58                52.0           394.0
16996     40.69                36.0           528.0
16997     41.84                17.0           531.0
16998     41.80                19.0           552.0
16999     40.54                52.0           300.0

[17000 rows x 3 columns]

acceder a el primero elemento de la columna 'col_1', en python los índices de los vectores, series,matrices, etc
inician en 0

In [80]:
col_1[0]

-0.11431000000000001

forma equivalente de acceder al mismo valor desde el data frame original

In [81]:
california_housing_dataframe['longitude'][0]

-114.31

acceder a los elemento [0],[1],[2].

In [82]:

california_housing_dataframe['longitude'][0:3]#, se detiene en el elemento tres [3] (no lo muestra)

0   -114.31
1   -114.47
2   -114.56
Name: longitude, dtype: float64

## Ejercicio n.º 1

Reduce el dataset original a cuatros variables : 'housing_median_age' , 'total_rooms', 'households' y 'median_house_value'. (reducción de variables). Posteriormente reduce el dataset a 1000 ejemplos (reducción de ejemplos)

In [83]:
#respuesta

 Además, *pandas* proporciona una API muy enriquecida para una [indexación y selección](http://pandas.pydata.org/pandas-docs/stable/indexing.html) avanzadas, que es un tema demasiado amplio como para cubrirlo aquí.

 ## Manipulación de datos

Puedes aplicar operaciones aritméticas básicas de Python a las `Series`. Por ejemplo:

In [84]:
# todos los datos de la columna se dividen entre 10 
var = col_1 / 10.

 [NumPy](http://www.numpy.org/) es un kit de herramientas popular para el cálculo científico. Las `Series` de *pandas* pueden usarse como argumentos para la mayoría de las funciones NumPy:

In [85]:
import numpy as np

np.log(population)

0    10.867978
1    13.831172
2    13.092314
dtype: float64

 Para obtener información sobre transformaciones más complejas de una sola columna, puedes usar `Series.apply`. Al igual que la función [función map](https://docs.python.org/2/library/functions.html#map) de Python, `Series.apply` acepta como argumento una función [función lambda](https://docs.python.org/2/tutorial/controlflow.html#lambda-expressions), que se aplica a cada valor.

El siguiente ejemplo verifica para cada posición (entrada) de la serie si el valor almacenado en dicha posición es superior a un millón, la repuesta en lógica, por tal solo puede valer True o False

In [86]:
population = pd.Series([52469, 1015785, 485199])
population.apply(lambda val: val > 1000000)

0    False
1     True
2    False
dtype: bool

 
Modificar `DataFrames` también es simple. Por ejemplo, el siguiente código agrega dos `Series` a un `DataFrame` existente. Ver el ejemplo de como crear un diccionario si tiene duda.

In [116]:
#se crea el dataframe cities
cities = pd.DataFrame({ 'City name': city_names, 'Population': population })

In [117]:
#agregar dos columnas (Series)
cities['Area square miles'] = pd.Series([46.87, 176.53, 97.92])
cities['Population density'] = cities['Population'] / cities['Area square miles']

In [118]:
print(cities)

       City name  Population  Area square miles  Population density
0  San Francisco       52469              46.87         1119.458076
1       San Jose     1015785             176.53         5754.177760
2     Sacramento      485199              97.92         4955.055147

 ## Ejercicio n.º 3

Modificar la tabla `cities`, agrega una nueva columna booleana en la cual todas las entradas sean falsas. Los valores que puede tomar una variable booleana son `True` o `False`

In [90]:
# Your code here

 ## Índices
Los objetos `Series` y `DataFrame` también definen una propiedad de `index` que asigna un identificador numérico a cada elemento de la matriz ( `DataFrame`) 

De forma predeterminada, *pandas* asigna valores a estos índice respetando el orden de los datos en el archivo de origen. Una vez creados, el valor de `index` no cambian cuando cambia el orden de los datos. La salida al invocar al método 'index' se interpreta de la siguiente forma: los índies incian en '0' , terminan en '3' (no toca el 3) y la numeración es de uno en uno (step)

In [108]:
city_names.index

RangeIndex(start=0, stop=3, step=1)

In [110]:
cities.index

RangeIndex(start=0, stop=3, step=1)

In [109]:
# Accediendo a una fila por índice
data.iloc[1]

PassengerId           2
Survived              1
Pclass                1
Sex              female
Age                  38
SibSp                 1
Parch                 0
Ticket         PC 17599
Fare            71.2833
Cabin               C85
Embarked              C
Name: 1, dtype: object

podemos asignarle  etiquetas a las filas , para que no lleves indices númericos como: [1 2 3 ] y puedan llevar un nombre personalizado. Con el método `loc` podemos acceder a una fila por su nombre

In [125]:
# Accediendo a una fila por etiqueta
serie = pd.Series([0.1, 1.2, 2.3, 3.4, 4.5], index = ['a','b','c','d','e'])
serie.loc['c']

2.3

 Puedes invocar al método `DataFrame.reindex` para cambiar el orden de las filas de forma manual. Por ejemplo, la siguiente acción tiene el mismo efecto que ordenar alfabeticamente (mediante una función de python) los valores que almacenan las variables de la `Series` `cities`, los cuales hacen referencia a los nombre de una ciudad:

In [122]:
cities.reindex([2, 0, 1])

       City name  Population  Area square miles  Population density
2     Sacramento      485199              97.92         4955.055147
0  San Francisco       52469              46.87         1119.458076
1       San Jose     1015785             176.53         5754.177760

 La reindexación es una excelente manera de seleccionar un subconjunto de datos (sub matriz) de un `DataFrame` de forma aleatoria. En el ejemplo que se muestra a continuación, tomamos los índices de la matriz (0,1,2), y lo enviamos a la función `random.permutation` de NumPy, que regresa los mismo valores de forma aleatoria. Utilizar la `reindexación` provoca que las filas de `DataFrame` se seleccionen de forma aleatoria. Este proceso es necesario al entrenar el modelo. Posteriormente se vera el tema más a fondo.
¡Prueba ejecutar la siguiente celda varias veces!

In [94]:
cities.reindex(np.random.permutation(cities.index))

       City name  Population  Area square miles  Population density
0  San Francisco       52469              46.87         1119.458076
1       San Jose     1015785             176.53         5754.177760
2     Sacramento      485199              97.92         4955.055147

 Si la matriz de la entrada `reindex` incluye valores que no se encuentran en los valores de índice originales `DataFrame`, `reindex` agregará nuevas filas para esos índices "faltantes" y completará todas las columnas correspondientes con los valores `NaN`:

In [95]:
cities.reindex([0, 4, 5, 2])

       City name  Population  Area square miles  Population density
0  San Francisco     52469.0              46.87         1119.458076
4            NaN         NaN                NaN                 NaN
5            NaN         NaN                NaN                 NaN
2     Sacramento    485199.0              97.92         4955.055147

Observe que el elemento asociado al índice '1' no aparece en la nueva matriz debido que su índice no se utiliza en el vector [0 ,4 ,5, 5].

Se permitir  índices "faltantes" sin tener que preocuparte por sanear directamente las entradas.

 ## Ejercicio n.º 4

De la tabla `cities`,  extraer sólo la columna(`Serie`) llamada `Population`, asígnala a una variable llamada `serie_population`. Agregale siete valores más a dicha `Serie`, esto es, que ahora contenga 10 valores.

Posteriomente aplicales un `reindex`.

In [96]:
#respuesta